.col-form-label.Depurar_Title {
  font-size: xx-large;
  font-family: monospace;
  color: rgb(19,0,136);
  margin-bottom: 1em;
}
#create_folder_button,#create_file_button {
  border: none;
  font-size: large;
}
#AST_Container{
  text-align: left;
  font-size: large;
}
.node_display{
  background-color: white;
}
.node_container{
  line-height: 3em;
  padding: 0.5em;
}
#folderDialog,#create_file_dialog {
  text-align: center;
  background-color: rgb(0,255,240);
  font-family: serif;
  padding: 1em 0px;
  width:100%;
  margin: auto;
}
.Optimized_field {
  text-align: justify;
}
.Optimized_field td{
  border-color: aquamarine;
  border:solid;
}
.Optimized_cell {
  /*border-color: aquamarine;*/
  /*border:solid;*/
}
.Selected_Class{
  background: #24ff00;
}
.Class_Header{
  font-weight: bold;
  font-size: large;
}
#create_file_dialog {
  text-align: center;
  background-color: lawngreen;
  font-family: serif;
  padding: 1em 0px;
  width:100%;
  margin: auto;
}

.col.Title_Container {
  text-align: center;
}

.Inline_Title {
  margin-right: 1em;
}

#Current_Instruction {
  font-family: monospace;
  color: rgb(44,0,99);
}

#Opciones_Header {
  text-align: center;
}

#Opciones_Table .table th {
  text-align: center;
}

.form-control-plaintext {
  text-align: center;
  /*text-decoration: initial;*/
  font-weight: bold;
}

#ThreeD_Source {
  width: 100%;
  height: auto;
}

.Debug_Container_Hide {
  display: none;
  visibility: hidden;
}

.col.Display_Container {
  height: 40em;
  overflow: auto;
}

.Inline_Title.Display_Title {
  font-size: xx-large;
  text-align: center;
  font-family: serif;
  color: rgb(35,0,38);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Display_Title {
  text-align: center;
}

